@page
@model AspnetRunBasics.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container contact-container">
    <h1 class="mt-4 mb-3">
        Tạo đơn hàng thành công.
    </h1>
    <hr />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <h3>@Model.Message</h3>
    }
    <br />
    <p>Nếu bạn có thắc mắc gì, vui lòng liên hệ shop thông qua tổng đài.</p>
</div>
