@page
@model AdminWebApp.Pages.LoginModel
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/stylelogin.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div class="fadeIn first mt-5 mb-4">
                <h3>Login</h3>
            </div>
            <p class="text-danger">@if (ViewData["Error"] != null) { @ViewData["Error"]}</p>
            <!-- Login Form -->
            <form asp-page-handler="Login" method="post">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" asp-for="UserModel.UserName">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" asp-for="UserModel.Password">
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Quên mật khẩu?</a>
            </div>

        </div>
    </div>
</body>
</html>