@page
@model AdminWebApp.Pages.ProductModel
@{
    ViewData["Title"] = "Sản phẩm";
}

<div class="row ml-5">
    <div class="col-9">
        <form asp-page-handler="Search" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập mã sản phẩm để tìm kiểm ..." name="ProductName">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3"><a asp-page="AddProduct" class="btn btn-primary">Thêm sản phẩm</a></div>
</div>
@if(Model.Products != null) {
<ul class="list-group list-group-flush mr-5 ml-5">
    @foreach (var product in Model.Products)
    {
        <li class="list-group-item"><a href="/Product_Detail?=ProductID=@product.Id">@product.Name</a></li>
    }
</ul>
}
else if (Model.IsSearch == true)
{
    <h5 class="m-5 text-secondary">Không tìm thấy sản phẩm nào, thử lại!</h5>
}
